/* Fondo de la sección About: imagen alineada a la izquierda y más "alejada" */
.about-section {
  background-color: rgba(20, 20, 20, 0.6);
  background-image: url('../assets/images/gury.webp');
  background-repeat: no-repeat;
  background-position: 60px center;
  background-size: 75%;
}


/* Círculo de íconos */
.about-section-icons-circle {
  width: 70px;
  height: 70px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

/* Imagen de ícono */
.about-section-icon-img {
  width: 40px;
  height: 40px;
}

.about-section-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}